<p><%= link_to t('devise.links.log_out'), destroy_user_session_path, method: :delete %></p>
<p><%= link_to t('devise.links.top_page'), books_path %></p>

<% if @user.id == current_user.id %>
<p><%= link_to t('views.common.edit'), edit_user_registration_path %></p>
<% end %>

<h1><%= t '.title' %></h1>
<p><%= t '.name' %> : <%= @user.username %></p>
<p><%= t '.mail_address' %> : <%= @user.email %></p>
<p><%= t '.postal_code' %> : <%= @user.postal_code %></p>
<p><%= t '.address' %> : <%= @user.address %></p>
<p><%= t '.profile' %> : <%= @user.description %></p>
