<p><%= t 'mailer.common.title' %> <%= @resource.email %>!</p>

<p><%= t 'mailer.common.notify_password_changed' %></p>

<p><%= link_to t('mailer.common.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'mailer.common.ignore_email' %></p>

<p><%= t 'mailer.common.create_new_password' %></p>
